@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}
p {
  font-size: 10px;
  line-height: 10px;
  background: url(wp1885552.jpg);
  background-attachment: fixed;
  /* background-clip: unset; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
}
